@import "tailwindcss";
@plugin "daisyui";
@plugin "tailwind-scrollbar";

@layer utilities {
  .scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;
    /* IE/Edge */
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    /* Safari/Chrome */
    display: none;
  }
}

@layer components {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-primary/10 rounded-full;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/20;
  }
}

html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0px !important;
  margin-right: 0px !important;
  overflow-y: auto !important;
}

/* Command Palette Styles */
.cmdk-root {
  @apply bg-base-100 text-base-content;
}

.cmdk-input {
  @apply bg-transparent text-base-content placeholder:text-base-content/60;
}

.cmdk-list {
  @apply scrollbar-thin;
}

.cmdk-item[data-selected="true"] {
  @apply bg-base-200;
}

.cmdk-group-heading {
  @apply text-base-content/60;
}

.swagger-ui {
  overflow: auto;
  height: 100%;
}

/* Prevent SwaggerUI elements from being affected by the global transition */
.swagger-ui,
.swagger-ui * {
  transition: none !important;
}

:root:has(input.theme-controller[value="light"]:checked),
[data-theme="light"] {
  /* Make sure Swagger UI responds to our dark mode */
  .swagger-ui {
    color-scheme: light;
    filter: invert(0%) hue-rotate(0deg);
  }

  .swagger-ui .opblock-tag,
  .swagger-ui .opblock .opblock-summary-operation-id,
  .swagger-ui .opblock .opblock-summary-path,
  .swagger-ui .opblock .opblock-summary-path__deprecated {
    color: var(--foreground);
  }

  img,
  .swagger-ui img {
    filter: invert(0%) hue-rotate(0deg);
  }
}

@media (prefers-color-scheme: dark) {
  /* Make sure Swagger UI responds to our dark mode */
  .swagger-ui {
    color-scheme: dark;
    filter: invert(88%) hue-rotate(180deg);
  }

  .swagger-ui .opblock-tag,
  .swagger-ui .opblock .opblock-summary-operation-id,
  .swagger-ui .opblock .opblock-summary-path,
  .swagger-ui .opblock .opblock-summary-path__deprecated {
    color: var(--foreground);
  }

  img,
  .swagger-ui img {
    filter: invert(100%) hue-rotate(180deg);
  }
}
